.slider{
    height: 40px;
    border: 2px solid #ff7e26;
    border-radius: 20px;
}

.thumb{
    background-color: #ff7e26;
    float: center;
    cursor:pointer;
    width:40px;
    height: 40px;
    border-radius: 20px;
}

.slider.green{
    border: 2px solid #ff9c59;
}
.slider.green .thumb{
    background-color: #ff9c59;
}